05_jaxrs_OrderServicePost_Example/src/main/resources/OrdersReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.sreenutech.org/OrdersReq"
	xmlns:tns="http://www.sreenutech.org/OrdersReq" 
	elementFormDefault="qualified">
	<element name="OrderReq" type="tns:OrderReqtype"/>
	<complexType name="OrderReqtype">
		<sequence>
			<element name="oid" type="string"/>
			<element name="name" type="string"/>
		</sequence>
	</complexType>
</schema>