05_jaxrs_OrderServicePost_Example/src/main/resources/OrdersResp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.sreenutech.org/OrdersRes" 
xmlns:tns="http://www.sreenutech.org/OrdersRes" 
elementFormDefault="qualified">

<element name="OrderRes" type="tns:OrderRestype"/>
	<complexType name="OrderRestype">
		<sequence>
			<element name="status" type="string"/>
		</sequence>
	</complexType>
</schema>